body {
    background-color: #eee;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

header {
    overflow: auto;
}

main {
    overflow: auto;
    padding: 64px;
    height: 512px;
}

#to_home {
    overflow: auto;
    margin-bottom: 32px;
}

#chartContainer_blood {
    overflow: auto;
    width: 100%;
    height: 512px;
}

header {
    overflow: auto;
}
